/* 상단 이미지 */
.imageContaner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 15vw;
  width: 100%;
}

.imageContaner img {
  width: 100%;
  height: 365px;
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.imageContaner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mainImage_textBox {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin: 0;
  padding: 2rem 0 2rem 0;
  z-index: 1;
}

.mainImage_textBox_title {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.mainImage_textBox_text {
  position: relative;
  width: auto;
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

/* 버튼 */
.allbutton button {
  background-color: transparent;
  color: black;
  border: none;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.hoverline button:hover {
  cursor: pointer;
  color: black;
  text-decoration-line: underline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 100vw;
  padding-top: 2rem;
  margin: auto;
  white-space: nowrap;
  flex-direction: column;
}

.tagButtonContainer {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 600px;
  max-width: 100vw;
}

.tagButtonContainer button {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 0.7rem;
  font-size: 0.8rem;
}

/* Main */
