/* Card */
.allButton button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.allContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 800px;
  max-width: 100vw;
  margin: auto;
  white-space: nowrap;
  flex-direction: column;
}

.hoverLine button:hover {
  cursor: pointer;
  color: black;
  text-decoration-line: underline;
}

.cardWhite {
  background-color: white;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.cardGray {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 80vh;
}

.label {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 20vh;
}

.labelTitle {
  font-size: 8px;
}

.labelWrap {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.labelFAQ span {
  color: #ff5f4f;
}

.cardTitle button {
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: -5rem;
  padding: 0;
  letter-spacing: 0.5px;
}

.cardInnerText {
  color: rgba(0, 0, 0, 0.8);
  font-size: 11px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
}

.cardTagButton button {
  color: rgba(0, 0, 0, 0.8);
  font-size: 11px;
  margin-right: 10px;
}

.cardWrap {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.cardButton {
  display: flex;
  justify-content: space-between;
}

.roundButton {
  margin-right: 13%;
}

.roundButton button {
  background-color: transparent;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin-right: 0.5rem;
  font-size: 11px;
  padding: 8px 15px 8px 15px;
  font-weight: 500;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.roundButton button:hover {
  background-color: transparent;
  border: 1px solid #ff5f4f;
  background-color: #ff5f4f;
  color: white;
}

.icon {
  margin-left: 3px;
  width: 1em;
  height: 1em;
  fill: rgba(0, 0, 0, 0.5);
}

.buttonLinkIcon:hover .icon {
  fill: white;
}

.cardImageContaner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardImage {
  display: inline-block;
  margin: 20px 20px 50px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cardImage img {
  width: 330px;
  height: auto;
}

.cardImage img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
