.container {
  width: 800px;
  max-width: 100vw;
  margin: auto;
}

.cardWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 12px 20px 12px;
  width: 240px;
  height: auto;
}

.image {
  position: relative;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardButton button:hover {
  color: black;
  text-decoration-line: underline;
}

.title {
  margin-top: 10px;
}

.title button {
  font-size: 12px;
}

.tag {
  margin-top: 5px;
}

.tag button {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
}
