.container {
  width: 800px;
  max-width: 100vw;
  margin: auto;
}

.cardWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 12px 20px 12px;
}

.image {
  position: relative;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  width: 240px;
  height: auto;
}

.image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardButton button:hover {
  color: black;
  text-decoration-line: underline;
}

.title {
  margin-top: 10px;
}

.title button {
  font-size: 12px;
}

.tag {
  margin-top: 5px;
}

.tag button {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 5px 0 5px;
}

.hoverCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image:hover .hoverCard {
  display: flex;
}

.hoverCard button {
  color: white;
}

.hoverCard button:hover {
  text-decoration-line: underline;
}

.hoverProfile {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hoverProfile:hover {
  cursor: pointer;
}

.hoverProfile img {
  border-radius: 50%;
}

.name {
  white-space: nowrap;
}

.linkButton button {
  width: 100%;
  height: auto;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 7px;
}

.icon {
  margin-left: 3px;
  width: 1em;
  height: 1em;
  fill: rgba(255, 255, 255, 0.7);
}
