.headerText {
  padding: 2.5rem 0 3rem 3.2rem;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.headerTitle {
  font-size: 1.5rem;
}

.headerDesc {
  margin-top: 1.2rem;
  font-size: 0.8rem;
  opacity: 0.7;
  font-weight: 500;
}

.ATagClass {
  margin-left: 0.3rem;
  text-decoration-line: underline;
}
