.contaner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  min-width: 40vw;
  height: 200px;
  overflow: hidden;
}

.contaner img {
  width: 100vw;
  height: auto;
}

.contaner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.textBox {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.text {
  color: white;
  font-size: 15px;
  font-weight: 100;
  margin-top: -10px;
}
