#profileLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f7;
  height: 100vh;
  width: 100%;
  margin-top: 120px;
}

#adminLeft {
  float: left;
  width: 216px;
  position: relative;
  height: 100vh;
  padding-top: 100px;
}

#adminRight {
  margin-top: 20px;
  float: right;
  margin-left: 40px;
  height: 100vh;
  width: 870px;
}

.mainTitle {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: normal;
}

.adminBlock1 {
  background: #fff;
  padding: 30px 30px;
  border: 1px solid #e0e5ee;
  font-size: 13px;
  border-bottom: 0;
}

.adminBlock2 {
  background: #fff;
  padding: 30px 30px;
  border: 1px solid #e0e5ee;
  font-size: 13px;
  border-bottom: 0;
}

.profileImage {
  width: 40px;
  margin-right: 4px;
}

.siteRow,
.newSiteRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.select {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #959595;
  background-color: #fafbfc;
  border: 1px solid #e0e5ee;
  cursor: pointer;
  margin-bottom: 10px;
}

.adminBlock3 {
  background: #fafbfc;
  border: 1px solid #e0e5ee;
  padding: 10px 35px;
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  background: #fff;
  color: #959595;
  text-align: center;
  font-size: 14px;
  padding: 10px 35px;
  border: 1px solid #e0e5ee;
}
