@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.AccountRecoveryContainer {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI SymbolonClick={close}",
    sans-serif;
  margin-bottom: 12rem;
  width: 37vw;
  padding: 7rem 30vw 0 31vw;
  white-space: nowrap;
}

.loginDetali {
  font-size: 0.8rem;
}
.loginNotion {
  padding-top: 1rem;
  margin-top: 4rem;
  border-top: 1px solid rgb(207, 207, 207);
  text-decoration-line: underline;
  font-size: 0.65rem;
  color: #636363;
}
.loginDetali:visited {
  color: #666666;
}
