@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.itemBoxWrapper {
  margin-bottom: 0.8rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.bottomItemBox {
  display: flex;
  align-items: start;
  justify-content: start;
}

.ItemBoxStart {
  font-size: 0.6rem;
  width: 6rem;
  margin-right: 2rem;
}

.publishedAgo {
  margin-bottom: 0.3rem;
  opacity: 0.6;
}
.itemBoxImg {
  width: 6.5rem;
  height: 6.5rem;
}

.likeCount {
  color: #ff5544;
}

.ItemBoxdesc {
  font-size: 0.68rem;
  margin: 0.5rem 0 0.8rem 0;
  opacity: 0.6;
}

.ItemBoxAuthor {
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 0.6rem;
}
.ItemBoxAuthorDetali {
  display: flex;
  padding-top: 0.6rem;
}
.subscribeBtn {
  display: none;
  border: 0.5px solid rgb(211, 211, 211);
  border-radius: 1rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  font-size: 0.7rem;
}

.itemBoxWrapper:hover .subscribeBtn {
  display: block;
}
.ItemBoxAuthorImg {
  width: 1.7rem;
}

.ItemBoxAuthorImg {
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.ItemBoxEnd {
  margin-left: 2rem;
}

.categoryName {
  margin-bottom: 1.1rem;
  opacity: 0.6;
  position: relative;
}

.textHr {
  width: 0.7rem;
  height: 0.1rem;
  background-color: gray;
  position: absolute;
  transform: translateY(-0.6rem) translateX(0.1rem);
  opacity: 0.4;
}

.mainBar {
  opacity: 0.3;
  height: 0.5px;
}

.blogName {
  margin-left: 0.3rem;
  opacity: 0.5;
}

.ItemBoxMid {
  width: 28rem;
  font-size: 1.1rem;
}
