@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.storyWrapper {
  width: 48vw;
  padding: 0 26vw 0 26vw;
}

.storyTopSection {
  height: 11.1rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.storyTopSectionInnertext {
  width: 21rem;
  text-align: left;
  margin-top: 2.5rem;
  margin-bottom: 3.3rem;
}

.topSectionTitle {
  margin: 0;
}
.topSectionMessage {
  margin: 0.4rem 0 0 0;
  font-size: 1.1rem;
}

.topSectionWrapTag {
  font-size: 1.6rem;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 40rem;
}

.storyBlog {
  width: 5rem;
}
.storyMidSection {
  margin-bottom: 2rem;
}

.storyMain {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
