/*아이템 박스 전체를 감싸는 css*/
.itemBoxWrapper {
  margin-bottom: 0.8rem;
  margin-top: 3rem;
  cursor: pointer;
  white-space: nowrap;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*아이템 박스 앞부분*/
.ItemBoxStart {
  font-size: 0.8rem;
  width: 6rem;
  margin-right: 3.3rem;
}
.publishedAgo {
  margin-bottom: 0.3rem;
  opacity: 0.6;
}
.likeCount {
  color: #ff5544;
}
.categoryName {
  margin-bottom: 1.1rem;
  opacity: 0.6;
  position: relative;
}
.textHr {
  width: 1rem;
  height: 0.1rem;
  background-color: gray;
  position: absolute;
  transform: translateY(-0.6rem) translateX(0.1rem);
  opacity: 0.4;
}

/*아이템 박스 중간부분*/
.ItemBoxMid {
  width: 37.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  margin-right: 1.3rem;
  height: 8rem;
}
.ItemBoxMidTitle {
  padding-bottom: 0.8rem;
}
.ItemBoxdesc {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 0.8rem 0;
  opacity: 0.8;
}
.ItemBoxAuthor {
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 0.8rem;
}
.ItemBoxAuthorDetali {
  display: flex;
  padding-top: 0.6rem;
}
.ItemBoxAuthorImg {
  border-radius: 1rem;
  margin-right: 0.5rem;
  width: 2rem;
}
.authorBlogTitle {
  opacity: 0.5;
  margin-left: 0.5rem;
}

/*구독버튼*/
.subscribeBtn {
  display: none;
  border: 0.5px solid rgb(211, 211, 211);
  border-radius: 1rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  font-size: 0.9rem;
  margin-right: 2rem;
}
.itemBoxWrapper:hover .subscribeBtn {
  display: block;
}

/*아이템 박스 끝부분*/
.itemBoxImg {
  width: 7.7rem;
  height: 7.7rem;
}

/*구분선 css*/
.mainBar {
  opacity: 0.3;
  height: 0.5px;
}

/*a태그 css*/
a {
  text-decoration-line: none;
  color: black;
}
