.story__top-section {
  height: 11.1rem;
  padding: 7rem 0 0 11rem;
}

.story__top-section__innertext {
  width: 21rem;
  text-align: left;
}

.top-section__title {
  margin: 0;
}
.top-section__message {
  margin: 0.4rem 0 0 0;
  font-size: 1.1rem;
}

.top-section__wrap-tag {
  padding: 3.8rem 0 0 0;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
}

.story__mid-section {
  height: 27.625rem;
  background-color: #f5f5f5;
}

.story__bottom-section {
}
