/*blog의 전체를 감싸는 css*/
.storyMidSection {
  height: 22rem;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  white-space: nowrap;

  padding-top: 3rem;
  padding-bottom: 2.3rem;
}
/*호버시 그림자가 나타나는 css*/
.blogWrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.6s all ease-out;
}
/*각각의 blog를 감싸는 css*/
.blogWrapper {
  background-color: white;
  width: 18rem;
  height: 23rem;
  margin-right: 1rem;
}

/*상단 이미지*/
.blogImg {
  width: 100%;
  height: 10.5rem;
}
/*blog의 글자부분 css*/
.blogTextWrapper {
  padding: 1.1rem;
}
.blogInfo {
  font-size: 0.8rem;
}
.blogInfoNum {
  color: #ff5544;
}
/*최하단 글자 css*/
.blogTitle {
  margin-top: 0.8rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3.1rem;
  font-size: 1.4rem;
}
.blogFooter {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.blogDesc {
  margin-top: 1.85rem;
  font-size: 0.85rem;
}
.blogAuthor {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.7;
}

/*구독하기 버튼 css*/
.subscribeBtn {
  display: none;
  transform: translateY(1rem) translateX(-0.5rem);
  border: 0.5px solid rgb(211, 211, 211);
  border-radius: 1rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  font-size: 0.9rem;
}
.blogWrapper:hover .subscribeBtn {
  display: block;
}
