.ConvertAccountWrapper {
  background-image: url(https://t1.daumcdn.net/tistory_admin/static/top/pc/bg_login_white.png);
  width: 100vw;
  background-size: 100vw;
  margin-top: 2rem;
  background-repeat: no-repeat;
  height: 130vh;
}
