.convertFormWrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 58.5vh;
}

.formTitle {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.emailInput[type="email"] {
  width: 19.5rem;
  height: 3rem;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 0.2rem;
  border-bottom: none;
}

.passwordInput[type="password"] {
  width: 19.5rem;
  height: 3rem;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 0.2rem;
}

.passwordInput::placeholder,
.emailInput::placeholder {
  font-size: 0.9rem;
  padding-left: 0.6rem;
}
.convertBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9b9b9;
  margin-top: 1.2rem;
  height: 3rem;
  border-radius: 0.25rem;
}

.loginBox {
  width: 320px;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.mainATags {
  margin-left: 13rem;
  margin-top: 0.4rem;
}

.mainLink {
  text-decoration-line: none;
  color: inherit;
}

.linkTag {
  text-decoration-line: none;
  color: inherit;
  align-items: flex-end;
}
.linkBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.loginLink a {
  text-decoration-line: none;
  color: inherit;
}