#Admin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f7;
  height: 100vh;
  width: 100vw;
  margin-top: 120px;
}

#AdminLeft {
  float: left;
  width: 216px;
  position: relative;
  height: 100vh;
  padding-top: 100px;
}

.AdminProfile {
  background: #fff;
  text-align: center;
  border: 1px solid #e0e5ee;
}

.AdminProfileImage {
  padding: 30px 0 25px;
  border-radius: 0.5rem;
}

.AdminProfileImage img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.AdminNameUser {
  font-weight: bold;
}

.AdminNameEmail,
.AdminBlockEmail {
  color: #888;
  font-size: 13px;
}

#AdminList {
  margin-top: 8px;
  background: #fff;
  font-size: 15px;
}

.AdminListHomeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 15px;
}

.AdminMyblog {
  border: 1px solid #e0e5ee;
  border-bottom: 0;
  padding: 12px 0 12px 47px;
}

.AdminListLine {
  border: 1px solid #e0e5ee;
  border-bottom: 0;
  padding: 12px 0 14px 47px;
}

.AdminListUserIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 15px;
}

.AdminListUser {
  padding-bottom: 8px;
}

.AdminListMenu {
  font-size: 13px;
  font-weight: 100;
  color: #555;
}

.AdminListMenuFont {
  margin-top: 5px;
}

.AdminLisLinkMenuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 15px;
  top: 500px;
}

.AdminListLinkMenu {
  border: 1px solid #e0e5ee;
  padding: 10px 0 14px 47px;
}

#AdminRight {
  margin-top: 20px;
  float: right;
  margin-left: 40px;
  height: 100vh;
}

.AdminBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #fff;
  border: 1px solid #e0e5ee;
}

.AdminFont {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: normal;
}

.AdminBlockEmail {
  padding-top: 5px;
}

.AdminBlockMenu {
  width: 650px;
}

.AdminBlockImage {
  width: 80px;
  height: 80px;
  margin: 25px;
}

.AdminBlockButton {
  margin-right: 30px;
  padding: 5px 18px;
  background: #333;
  color: white;
  cursor: pointer;
  font-size: 11px;
}

.AdminBlockGuide {
  padding: 25px 29px;
  background: #fafbfc;
  border: 1px solid #e0e5ee;
  border-top: 0;
  font-size: 11px;
  color: gray;
}

.AdminBlockName {
  font-size: 15px;
  font-weight: bold;
}

.AdminSituation1,
.AdminSituation2 {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #e0e5ee;
  padding: 30px 30px;
}

.AdminSituation1 {
  border-bottom: 0;
}

.AdminBlock2,
.AdminBlock4 {
  font-size: 15px;
}

.AdminBlock3,
.AdminBlock5 {
  font-size: 11px;
}

.AdminBlockBtn {
  background: #fafbfc;
  border: 1px solid #e0e5ee;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  border-top: 0;
}

.AdminBlockBtnWindow {
  border-color: #333;
  background: #333;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px 35px;
}

.AdminBlock7 {
  background: #fff;
  padding: 30px 30px;
  border: 1px solid #e0e5ee;
  font-size: 13px;
  border-bottom: 0;
}

.AdminBlock8 {
  background: #fafbfc;
  border: 1px solid #e0e5ee;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
}

.AdminBlock8 .button {
  border-color: #e0e5ee;
  background: #fff;
  color: #959595;
  text-align: center;
  font-size: 14px;
  padding: 10px 35px;
  border: 1px solid #e0e5ee;
}

.AdminWithdraw {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 13px;
  color: gray;
}

.AdminWithdraw a {
  color: gray;
  text-decoration: underline;
}
