.main {
  width: 100%;
  height: 133px;
  padding-top: 151px;
  background-size: cover;
  background-position: 50% 50%;
}

.mainFeed {
  display: flex;
  justify-content: center;
}

.innerFeed {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 calc((100% - 1000px) / 2);
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.pFont,
.nameFeed {
  word-wrap: break-word;
  white-space: nowrap;
}

.pFont {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1;
  font-family: Pretendard-Light, AppleSDGothicNeo-Regular, "Malgun Gothic",
    "맑은 고딕", dotum, "돋움", sans-serif;
  color: rgb(70, 71, 70);
  display: flex;
  justify-content: space-between;
}

.nameFeed {
  margin: 0;
  font-size: 1.375rem;
  line-height: 1.2;
}

@media (max-width: 1300px) {
  .inner_feed {
    max-width: calc(100% - 40px);
    margin-left: 210px;
    margin-right: 210px;
  }
}

.subscription,
.subscribers {
  font-size: 13px;
  margin: 0 0 0 22px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
