.main {
  width: 100%;

  padding: 151px 0 0 0;
  background-size: cover;
  background-position: 50% 50%;
}

.mainFeed {
  display: flex;
  justify-content: center;
}

.innerFeed {
  height: 100px;
  width: 896px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.pFont,
.nameFeed {
  word-wrap: break-word;
  white-space: nowrap;
}

.pFont {
  margin: 0;
  padding: 14px 0 0 0;
  font-size: 24px;
  line-height: 1;
  font-family: Pretendard-Light, AppleSDGothicNeo-Regular, "Malgun Gothic",
    "맑은 고딕", dotum, "돋움", sans-serif;
  color: rgb(70, 71, 70);
  display: flex;
  justify-content: space-between;
}

.nameFeed {
  margin: 0;
  font-size: 1.375rem;
  line-height: 1.2;
}

@media (max-width: 410px) {
  .innerFeed {
    max-width: calc(100% - 40px);
    margin-left: 210px;
    margin-right: 210px;
  }
}

.subscription,
.subscribers {
  font-size: 13px;
  margin: 0 0 0 22px;
  color: #909090;
  line-height: 24px;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.feedBody {
  width: 896px;
  margin: 0 auto;
  padding: 94px 0 100px 0;
}

.feedBodyMain {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  white-space: nowrap;
  font-size: 36px;
  line-height: 46px;

  color: #000;
  font-family: Pretendard-SemiBold, AppleSDGothicNeo-Regular, "Malgun Gothic",
    "맑은 고딕", dotum, "돋움", sans-serif;
}

.feedBodyBlog {
  margin: 0;
  padding: 17px 0 0 0;
  font-size: 13px;
  line-height: 22px;
  color: #777;
}

.feedStoryWrapBtn {
  padding: 35px 0 0 0;
  text-align: left;
  margin: 0;
}

.feedStoryBtn {
  min-width: 160px;
  vertical-align: middle;
  display: inline-block;
  border-color: #000;
  color: #fff;
  background-color: #000;
  height: 40px;
  padding: 0 23px;
  border-radius: 20px;
  border: 1px solid#e0e0e0;
  font-size: 13px;
  line-height: 38px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.feedStoryBtn:visited {
  color: #fff;
}

.feedStoryBtn:hover {
  border-color: #f54;
  background-color: #f54;
}

.sectionSubscribe {
  background-color: #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  height: 708px;
}

.sectionSubscribe .listTistory {
  width: 912px;
  margin: -4px auto 0;
  padding: 0 0 40px 0;
  border-bottom: 0;
  list-style: none;
}

.sectionSubscribe .infoBlogList {
  overflow: hidden;
  width: 896px;
  height: 50px;
  margin: 0 auto;
  padding: 34px 0 0;
}

.blogInfoDesc {
  padding: 6px 0 0;
  font-size: 16px;
  line-height: 16px;
}

.listTistory li {
  position: relative;
  float: left;
  width: auto;
  margin: 16px 0 0;
  border-bottom: 0;
}

.listBoxType {
  width: 288px;
  height: 288px;
  margin: 0 8px;
  padding: 0;
  background-color: #fff;
  display: block;
  position: relative;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.listBoxType:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.wrapListBox {
  float: none;
  width: 64px;
  margin: 0 auto;
  padding: 36px 0 0;
  display: block;
}

.wrapListBoxProfile {
  float: none;
  width: 64px;
  height: 64px;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: block;
  border-radius: 50%;
}

img {
  border: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0);
}

.blogSubName {
  display: block;
  overflow: hidden;
  padding: 15px 40px 0 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li {
  list-style: none;
}

dl {
  list-style: none;
  margin: 0;
}

dt {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none;
  font-size: 13px;
  line-height: 13px;
  font-family: Pretendard-Regular;
}

dd {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none;
  font-size: 13px;
  line-height: 13px;
  font-family: Pretendard-Regular;
}

.listData {
  padding: 7px 0 0 0;
  font-size: 0;
  color: #909090;
  text-align: center;
  position: static;
  overflow: hidden;
  line-height: 22px;
}

.listData dd {
  padding-left: 4px;
}

.listBoxType .blogInfoDesc {
  margin: 0;
  width: 100%;
  max-height: 36px;
  padding: 2px 40px 0 40px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  overflow: hidden;
  color: #777;
  box-sizing: border-box;
}
.infoSubscribe {
  bottom: 36px;
  right: 50%;
  margin: 0 -40px 0 0;
  position: absolute;
  width: 80px;
  height: 30px;
  text-align: center;
}

.listBoxTypeBtn {
  display: block;
  width: 100%;
  padding: 0;
  transition: none;
  border-radius: 16px;
  color: #000;
  background-color: #fff;
  min-width: 66px;
  height: 30px;
  font-size: 13px;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  text-align: center;
  font-family: Pretendard-Regular, AppleSDGothicNeo-Regular, Malgun Gothic,
    맑은 고딕, dotum, 돋움, sans-serif;
  cursor: pointer;
}

.listBoxTypeChange {
  display: block;
  width: 100%;
  padding: 0;
  transition: none;
  border-radius: 16px;
  min-width: 66px;
  height: 30px;
  font-size: 13px;
  line-height: 28px;
  box-sizing: border-box;
  text-align: center;
  font-family: Pretendard-Regular, AppleSDGothicNeo-Regular, Malgun Gothic,
    맑은 고딕, dotum, 돋움, sans-serif;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
