.header {
  position: relative;
}
.app {
  overflow-x: hidden;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #666;
}

.tistoryLight {
  position: absolute;
  top: 650px;
  right: 480px;
  width: 80px;
  height: 80px;
}

.sectionOne {
  margin-top: -60px;
  margin-left: 19px;
  text-align: left;
}

.section5 {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

.section5 p {
  position: relative;
  font-size: 2.5em;
  margin-bottom: 5px;
  color: rgb(144, 144, 144);
  font-weight: 500;
}

.section5 p span {
  position: relative;
}

.section5 p:hover {
  color: #000000;
  cursor: pointer;
}
.section5 p span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 0;
  height: 11px;
  background-color: rgb(227, 92, 110);
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.section5 p:hover span::before {
  width: 100%;
}

.customSpan {
  color: #000000;
  font-weight: 700;
}

.customH5 {
  padding: 20px 10px 0;
  font-size: 30px;
}

p a {
  text-decoration: none;
  color: inherit;
}

p a:hover {
  cursor: pointer;
}

.sponsorImages {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 85vw;
  margin: 0 auto;
}

.sponsorImages img {
  /* width: 200px; */
  height: auto;
  padding: 90px 0px;
}

.slideContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.slideContainer img {
  transition: filter 0.3s ease;
}

.imageWithText img {
  width: 100%;
  height: auto;
}

.customParagraph {
  padding-bottom: 77px;
}
