.header {
  position: relative;
}
.app {
  overflow-x: hidden;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-197%);
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 50px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.CustomContainer {
  position: relative;
  top: 80%;
  left: 20%;
  transform: translate(-46%, -210%);
  margin-bottom: -1010px;
}

.image {
  width: 100%;
  height: 650px;
}

.title {
  font-family: 'Arial', sans-serif;
  font-size: 44px;
  font-weight: bold;
  color: #807a7a;
}

.text {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #666;
}

.buttonTop {
  background-color: #ffffff;
  border: none;
  color: rgb(10, 10, 10);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.buttonTop:hover {
  background-color: #cfcdd1;
}

.imageNo {
  position: absolute;
  top: 650px;
  right: 480px;
  width: 80px;
  height: 80px;
}

.sectionOne {
  margin-top: -60px;
  margin-left: 19px;
  text-align: left;
}

.section5 {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

.section5 p {
  position: relative;
  font-size: 2.5em;
  margin-bottom: 5px;
  color: rgb(144, 144, 144);
  font-weight: 500;
}

.section5 p:hover {
  color: rgb(70, 70, 70);
}

.section5 p span {
  position: relative;
}

.section5 p span::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 0;
  height: 11px;
  background-color: rgb(227, 92, 110);
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.section5 p:hover span::before {
  width: 100%;
}

.customSpan {
  color: #000000;
  font-weight: 700;
}

.customH5 {
  padding: 20px 10px 0;
  font-size: 30px;
}

p a {
  text-decoration: none;
  color: inherit;
}

p a:hover {
  cursor: pointer;
}

.wrapTit {
  margin-top: 20px;
  text-align: left;
  margin-top: -135px;
}

.titSection {
  font-size: 2.2em;
  font-weight: 300;
  margin-bottom: 110px;
  padding-left: 100px;
}

.descSection {
  font-size: 1em;
  color: #666;
  font-weight: 3001;
  padding-left: 100px;
}

em {
  font-style: normal;
  font-weight: bold;
  padding-left: 100px;
}

.txtDa {
  color: #ff6600;
  display: inline-block;
}

.txtDa img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding: 7px 5px;
  margin-top: -5px;
}

.sponsorImages {
  display: flex;
  justify-content: space-between;
}

.sponsorImages img {
  width: 200px;
  height: auto;
  padding: 90px 15px;
}

.slideContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.slideContainer img {
  transition: filter 0.3s ease;
}

.imageWithText img {
  width: 100%;
  height: auto;
}

.slider {
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slideContainer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.banner_link {
  display: block;
  position: relative;
  margin: 0 10px;
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner_link:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.banner_image {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

.banner_link {
  position: relative;
  display: block;
  /* overflow: hidden; */
}

.banner_hover_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1em;
  text-align: center;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.banner_link:hover .banner_hover_text {
  opacity: 1;
}
