.profileLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f7;
  height: 100vh;
  width: 100%;
  margin-top: 120px;
}

.profileLayerLeft {
  width: 215px;
  height: 100vh;
  padding-top: 100px;
}

.profileLayerRight {
  margin-left: 40px;
  height: 100vh;
}

.profileLayerTitle {
  font-size: 20px;
  color: black;
  margin: 50px 0 10px;
}

.profileLayerBox {
  background: #fff;
  padding: 30px 30px;
  border: 1px solid #e0e5ee;
  border-bottom: 0;
  font-size: 13px;
  width: 840px;
}

.profileImage {
  width: 40px;
  margin-right: 4px;
}

.myNeme {
  width: 250px;
  height: 38px;
  padding: 0 13px;
  border: 1px solid #e0e6ec;
  font-size: 16px;
  line-height: 38px;
  color: #9b9fb3;
  background: #ebf0f5;
}

.myUrl {
  width: 490px;
  height: 38px;
  padding: 0 13px;
  border: 1px solid #e0e6ec;
  font-size: 16px;
  line-height: 38px;
  color: #9b9fb3;
  background: #ebf0f5;
  margin-left: 4px;
}

.site,
.newSite {
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
}

.input {
  width: 490px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
}

.deleteButton {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.addButton {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #959595;
  background-color: #fafbfc;
  border: 1px solid #e0e5ee;
  margin-bottom: 10px;
}

.buttonBox {
  background: #fafbfc;
  border: 1px solid #e0e5ee;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  background: #333;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px 35px;
}
