.supportList {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f7;
  height: 100vh;
  width: 100%;
  margin-top: 120px;
}

.supportListLeft {
  width: 215px;
  height: 100vh;
  padding-top: 100px;
}

.supportListRight {
  margin-left: 40px;
  height: 100vh;
}

.mainTitle {
  font-size: 20px;
  color: black;
  margin: 50px 0 10px;
}

.searchBox {
  background: #fafbfc;
  border: 1px solid #e0e5ee;
  padding: 10px 35px;
  display: flex;
  justify-content: flex-end;
  width: 830px;
}

.searchIcon {
  display: flex;
}

.searchText {
  background: #fafbfc;
  display: flex;
  justify-content: flex-end;
  width: 860px;
}

.searchText input {
  width: 800px;
}

.searchList {
  background: #fff;
  padding: 30px 30px;
  border: 1px solid #e0e5ee;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
