.newBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f7;
  height: 100vh;
  width: 100%;
  margin-top: 120px;
}

.newBlogLeft {
  width: 215px;
  height: 100vh;
  padding-top: 100px;
}

.newBlogRight {
  margin-left: 40px;
  height: 100vh;
}

.newBlogTitle {
  font-size: 20px;
  color: black;
  margin: 50px 0 10px;
}

.newBlogInputBox {
  width: 860px;
  padding: 20px;
  border: 1px solid #e0e5ee;
  border-bottom: 0;
  background-color: #fff;
}

.newBlogName,
.newBlogUrl,
.newBlogNickname {
  margin-bottom: 20px;
  margin-left: 10px;
  display: block;
  font-size: 14px;
  color: black;
}

.newBlogUrlBox {
  display: flex;
  justify-content: space-between;
}

.newBlogUrlName {
  font-size: 15px;
  padding-top: 15px;
}

.newBlogUrl label,
.newBlogNickname label {
  font-size: 13px;
  color: gray;
  padding-left: 12px;
}

.newBlogName input,
.newBlogUrl input,
.newBlogNickname input {
  width: 806px;
  height: 38px;
  padding: 0 13px;
  margin-top: 9px;
  margin-right: 20px;
  border: 1px solid #e0e5ee;
  font-size: 16px;
}

.newBlogButtonBox {
  background: #fafbfc;
  border: 1px solid #e0e5ee;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
}

.newBlogButton {
  background: #fff;
  color: #959595;
  font-size: 14px;
  padding: 10px 35px;
  border: 1px solid #e0e5ee;
}
