.newBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f7;
  height: 100vh;
  width: 100%;
  margin-top: 120px;
}

.newBlogLeft {
  float: left;
  width: 216px;
  position: relative;
  height: 100vh;
  padding-top: 100px;
}

.newBlogRight {
  margin-top: 20px;
  float: right;
  margin-left: 40px;
  height: 100vh;
}

.newBlogInputBox {
  width: 860px;
  padding: 20px;
  border: 1px solid #e0e5ee;
  background-color: #fff;
}

.newBlogName,
.newBlogUrl,
.newBlogNickname {
  margin-bottom: 15px;
}

.newBlogUrlBox {
  display: flex;
  justify-content: space-between;
}

.newBlogName label,
.newBlogUrl label,
.newBlogNickname label {
  display: block;
  margin-bottom: 5px;
}

.newBlogName input,
.newBlogUrl input,
.newBlogNickname input {
  width: 100%;
  padding: 10px 0;
  margin-right: 20px;
  border: 1px solid #e0e5ee;
}

.error {
  color: red;
  font-size: 13px;
}

.newBlogButtonBox {
  height: 60px;
  background-color: #fafbfc;
  border: 1px solid #e0e5ee;
}

.newBlogButton {
  width: 150px;
  padding: 8px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #e0e5ee;
  color: #e0e5ee;
  margin-left: 700px;
  cursor: pointer;
  font-size: 16px;
}
