.forumBlogBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.forumBlogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border-bottom: 1px solid #dddddd;
}
.forumBlogTap {
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-evenly;
}
.forumBlogTap button {
    font-weight: bold;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    color: #695950;
}
.forumBlogTap button:hover {
    color: #221d1a;
}
.forumBlogList {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-evenly;
    padding: 40px 0 40px 0;
    border-bottom: 1px solid #dddddd;
}
.forumImgBox {
    display: flex;
    justify-content: center;
    padding: 10px 10px 0 10px;
}
.forumImgBox img{
    width: 52px;
    height: 52px;
    flex-direction: column;
}
.forumWriteBtn button{
    margin-right: 20px;
    background: none;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 1rem;
    color: white;
    background: black;
    padding: 5px 20px 5px 20px;
}
.forumWriteBtn button:hover{
    background: #ff754a;
    border: 1px solid #ff754a;
}
.forumBlogTitleBox {
    display: flex;
    justify-content: space-between;
}
.forumContext {
    width: 550px;
}
.forumContext {
    font-size: 0.8rem;
    padding-bottom: 8px;
}
.forumContextTitle {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 12px;
}
.forumLookUp {
    font-size: 0.8rem;
}