.forumImg{
    width: 100%;
    height: 365px;
    object-fit: cover;
    /*position: relative;*/
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}
.forumHeader {
    width: 100%;
    height: 365px;
}
.forumSearch {
    width: 100%;
    height: 135px;
    justify-content: center;
    align-items: center;
    padding: 151px 92px 0 92px;
    color: white;
    cursor: default;
}
.forumTitle {
    margin-left: 3px;
    font-size: 18px;
    font-weight: bold;

}
.forumDescription {
    padding-top: 11px;
    font-size: 24px;
}
.forumSearchBox {
    display: flex;
    width: 712px;
    height: 54px;
    background: white;
    border-radius: 4px;
    color: black;
    flex-direction: row;
}
.forumSearchBoxLabel {
    width: 100px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forumSearchBoxImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forumSearchBoxImg img{
    width: 20px;
    height: 16px;
}
.forumSearchBoxInput {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forumSearchBoxInput input{
    border: none;
    width: 548px;

}

