.forumBlogBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.forumBlogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border-bottom: 1px solid #dddddd;
}
.forumBlogTap {
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-evenly;
}


.forumBlogList {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-evenly;
    padding: 40px 0 40px 0;
    border-bottom: 1px solid #dddddd;
}
.forumImgBox {
    display: flex;
    justify-content: center;
    padding: 10px 10px 0 10px;
}
.forumImgBox img{
    width: 52px;
    height: 52px;
    flex-direction: column;
}
.forumWriteBtn button{
    margin-right: 20px;
    background: none;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 1rem;
    color: white;
    background: black;
    padding: 5px 20px 5px 20px;
}
.forumWriteBtn button:hover{
    background: #ff754a;
    border: 1px solid #ff754a;
}
.forumBlogTitleBox {
    display: flex;
    justify-content: space-between;
}
.forumContextBox {
    width: 550px;
}
.forumContext {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding-bottom: 8px;
    align-items: center;
    cursor: default;
    white-space: pre-wrap;
}
.forumContextHeader {
    color: #7b756b;
    cursor: pointer;
}
.forumContextHeader a {
    text-decoration-line: none;
    color: inherit;
}
.forumContextCategory {
    text-decoration: 1px underline;
    color: #7b756b;
}
.forumContextTitle {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 12px;
    cursor: pointer;
}
.forumContextTitle:hover {
    text-decoration: underline;
}
.forumLookUp {
    font-size: 0.8rem;
}

.forumTapActive {
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 2px solid red;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    color: black;
}
.forumBlogTap :hover {
    color: #221d1a;
}
.forumTapInActive {
    font-weight: bold;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    color: #695950;
}
.forumBlogTap :hover {
    color: #221d1a;
}
.forumBlogListDetail {
    display: flex;
    flex-direction: row;
    width: 800px;
    padding: 20px 0 20px 0;
    /*border-bottom: 1px solid #dddddd;*/
    background: #fafafa;
}
.forumBlogInput{
    width: 575px;
    /*margin-left: 92px;*/
    /*margin-top: 36px;*/
    /*border: 1px solid #dddddd;*/
    outline: none;
    border: none;
    min-height: 78px;
    padding: 18px;
    resize: none;
}
.forumBlogListComment {
    display: flex;
    flex-direction: row;
}
.forumBlogListCommentImg{
    flex-direction: column;
    width: 52px;
    margin-left: 110px;
}
.forumBlogListCommentImg img{
    width: 42px;
    height: 42px;
    flex-direction: column;
}
.forumBlogListCommentContext {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.forumBlogWriteBox {
    width: 575px;
    /*border: 1px solid #dddddd;*/
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 78px;
    padding: 18px;
    background: #fafafa;
}

.forumBlogWriteDetail {
    display: flex;
    width: 800px;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}
.forumBlogInputForm {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 575px;
    padding: 18px;
}
.inputInActiveLabel {
    font-size: 13px;
    color: #b9b9b9;
}
.inputActiveLabel {
    font-size: 13px;
    color: black;
}
.inputActiveButton {
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 20px;
    background: black;
    border: 1px solid black;
    color: white;
    box-sizing: border-box;
}
.inputActiveButton:hover {
    background: rgb(255,85,62);
    border: 1px solid rgb(255,85,62);
}
.inputInActiveButton {
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 20px;
    background: #b9b9b9;
    border: 1px solid #b9b9b9;
    color: white;
    box-sizing: border-box;
}